/* .btn{
    display:inline-block;
    color: $white;
    padding:1rem 2rem;
    text-align:center;
}

.btn.btn__orange{
    background-color: $mainOrange;
} */

.button{
    display:inline-block;
    color: $white;
    padding:1rem 2rem;
    text-align:center;
    transition: all 0.3s ease-out;

    &__orange{
        background-color: $mainOrange;

        &:hover{
            background-color: $darkOrange;
            transition: all 0.3s ease-out;
        }
    }
}
