.headline{
    font-size: 1.8rem;
    text-align: center;

    @mixin smallScreen{
        font-size: 2.5rem;
    }

    &__light{
        font-weight: 300;
    }

    &__blue{
        color: $mainBlue;
    }

    &__small{
        font-size:1.3rem;

        @mixin largeScreen{
            font-size: 1.6rem;
            font-weight: 300;
            width:35%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__orange{
        color: $mainOrange;
    }

    &__left{
        text-align: left;
    }

    &__t-margin{
        margin-top: 1rem;
    }
}